.history-tab {
    background-color: rgb(60, 60, 100);
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 10px;
    row-gap: 50px;

    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.workout-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.workout-name {
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.workout-info {
    width: 100%;
    display: flex;
    color: white;
}

.info-type {
    display: inline-block;
    flex: 1;
    text-align: center;
}

.info-content {
    display: inline-block;
    flex: 1;
    text-align: center;
}