.settings-tab {
    background-color: rgb(60, 60, 100);
}

.setting-item {
    display: inline-block;

    color: white;
    font-size: 30px;

    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.setting-name {
    display: inline-block;
}

.setting-toggle {
    display: inline-block;
    margin-left: 50px;
    font-weight: 700;
}

.toggle-left {
    display: inline-block;
    padding: 10px;
    background-color: rgb(40, 40, 80);
    color: aquamarine;

    border-bottom: rgb(101, 101, 147) 2px solid;
    border-left: rgb(101, 101, 147) 2px solid;
    border-top: rgb(36, 36, 93) 2px solid;
    border-right: rgb(36, 36, 93) 2px solid;
}

.toggle-right {
    display: inline-block;
    padding: 10px;
    background-color: rgb(60, 60, 100);

    border-bottom: rgb(36, 36, 93) 2px solid;
    border-left: rgb(36, 36, 93) 2px solid;
    border-top: rgb(101, 101, 147) 2px solid;
    border-right: rgb(101, 101, 147) 2px solid;
}

.toggle-right:hover {
    border-bottom: rgb(101, 101, 147) 2px solid;
    border-left: rgb(101, 101, 147) 2px solid;
    border-top: rgb(36, 36, 93) 2px solid;
    border-right: rgb(36, 36, 93) 2px solid;

    background-color: rgb(40, 40, 80);
}

.toggle-right:active {
    color: aquamarine;
}